[submodule "Serve_3"]
	path = Serve_3
	url = https://github.com/Fernando4974/Serve_3.git
[submodule "App"]
	path = App
	url = https://github.com/Fernando4974/App.git
[submodule "Applicacion"]
	path = Applicacion
	url = https://github.com/Fernando4974/App.git
